@{
    ViewData["Title"] = "My Work";
}

<style>
    h1 {
        text-align: center;
    }

    header {
        background-color: #333;
        color: #fff;
        padding: 20px 0;
    }
     img {
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
    }

         img:hover {
            transform: scale(1.05);
        }

    .section p {
        margin-top: 20px;
        color: #666;
    }

</style>

<div  
    <div id="fsb_container" style="display: block; color: inherit; height: 70px;">
        <div id="fsb_background" style="opacity: 1; margin: 0px; padding: 0px; left: 0px; height: auto; width: 100%; z-index: 99998; position: relative; top: 25px;">
            <div id="fsb_bar" style="text-align: center; margin: 0 auto; padding: 12px 0; left: 0px; height: auto; width: 100%; box-sizing: border-box; border: none; background-color: #D8D8D8;
color: rgb(white); font-size: 16px; line-height: 20px; font-family: &quot;Carter One&quot;;">
                <div style="max-width: 800px; margin: 0 auto;">
                    Free shipping for orders over
                    <span id="fsb_symbol" style="color: rgb(249, 77, 74); font-family: &quot;Carter One&quot;; font-size: 16px;">
                        R
                    </span><span id="fsb_amount" style="color: rgb(249, 77, 74); font-family: &quot;Carter One&quot;; font-size: 16px;">800</span> !
                </div>
            </div>
        </div>
    </div>
</div>

<div style="margin: 0 auto; width: 500px; ">
   
    <p> Indulge in the timeless elegance of handcrafted items, where each piece tells its own story. Our collection features exquisite items meticulously crafted by skilled artisans, showcasing a harmonious blend of tradition and innovation. From charming ceramic mugs to intricately designed vases, each item is imbued with craftsmanship and attention to detail, making them perfect additions to any home décor. Elevate your living space with our artisanal items, where every sip, display, or arrangement becomes a celebration of artistry and heritage. </p>
    <p><strong>     *Please Click on Photo to see Options</strong></p>

</div>


<div id="fsb_container" style="display: block; color: inherit; height: 100px; margin: 0 auto;">
    <div id="fsb_background" style="opacity: 1; padding: 0px; height: auto; width: 100%; z-index: 99998; position: relative; top: 25px;">
        <div id="fsb_bar" style="text-align: center; padding: 12px 0; height: auto; width: 75%; box-sizing: border-box; border: none; background-color: #D8D8D8; color: rgb(white); font-size: 16px; line-height: 20px; font-family: &quot;Carter One&quot;; margin: 0 auto;">
            <div style="max-width: 800px; margin: 0 auto;">
                Pottery
            </div>
        </div>
    </div>
</div>





<div style="margin: 0 auto; width: 300px;">
    <a href="https://khumalocraft-st10273388.azurewebsites.net/Home/Pottery">
        <img src="/lib/bootstrap/KhumaloCraft/PotteryStand.jpg" width="300" title="We sell Pottery" />
    </a>
</div>




<div id="fsb_container" style="display: block; color: inherit; height: 100px; margin: 0 auto;">
    <div id="fsb_background" style="opacity: 1; padding: 0px; height: auto; width: 100%; z-index: 99998; position: relative; top: 25px;">
        <div id="fsb_bar" style="text-align: center; padding: 12px 0; height: auto; width: 75%; box-sizing: border-box; border: none; background-color: #D8D8D8; color: rgb(white); font-size: 16px; line-height: 20px; font-family: &quot;Carter One&quot;; margin: 0 auto;">
            <div style="max-width: 800px; margin: 0 auto;">
                Leather
            </div>
        </div>
    </div>
</div>

<div style="display: flex; justify-content: center; align-items: center; height: -250px;">
        <a href="https://khumalocraft-st10273388.azurewebsites.net/Home/Leather">
            <img src="/lib/bootstrap/KhumaloCraft/LeatherBags.jpg" width="400" title="We sell Leather" />
        </a>
    </div>



<div id="fsb_container" style="display: block; color: inherit; height: 100px; margin: 0 auto;">
    <div id="fsb_background" style="opacity: 1; padding: 0px; height: auto; width: 100%; z-index: 99998; position: relative; top: 25px;">
        <div id="fsb_bar" style="text-align: center; padding: 12px 0; height: auto; width: 75%; box-sizing: border-box; border: none; background-color: #D8D8D8; color: rgb(white); font-size: 16px; line-height: 20px; font-family: &quot;Carter One&quot;; margin: 0 auto;">
            <div style="max-width: 800px; margin: 0 auto;">
                Ear Rings
            </div>
        </div>
    </div>
</div>


<div style="display: flex; justify-content: center; align-items: center; height: -200px;">
        <a href="https://khumalocraft-st10273388.azurewebsites.net/Home/EarRings">
            <img src="/lib/bootstrap/KhumaloCraft/EarRings.jpg" width="300" title="We sell Ear Rings" />
        </a>
    </div>








<div id="fsb_container" style="display: block; color: inherit; height: 70px; margin: 0 auto;">
    <div id="fsb_background" style="opacity: 1; padding: 0px; height: auto; width: 100%; z-index: 99998; position: relative; top: 25px;">
        <div id="fsb_bar" style="text-align: center; padding: 12px 0; height: auto; width: 75%; box-sizing: border-box; border: none; background-color: #D8D8D8; color: rgb(white); font-size: 16px; line-height: 20px; font-family: &quot;Carter One&quot;; margin: 0 auto;">
            <div style="max-width: 800px; margin: 0 auto;">
                Bracelets
            </div>
        </div>
    </div>
</div>
<br></br>


<div style="display: flex; justify-content: center; align-items: center; height: -50px;">
        <a href="https://khumalocraft-st10273388.azurewebsites.net/Home/Bracelets">
            <img src="/lib/bootstrap/KhumaloCraft/BeadedBracelet.jpg" width="300" title="We sell Bracelets" />
        </a>
    </div>


<div>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
     
</div>